.dashboard__Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  text-align: left !important;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
.column__basic {
  height: 100vh;
}
.menu__column {
  border-right: 1px solid #2e2c2c;
}
.left__menu__wrapper {
  padding: 1rem;
}
.logo__wrapper {
  border-bottom: 1px solid #2e2c2c;
}
.menu__section__header {
  /* padding: 1rem; */
  font-weight: bold;
}
.menu__section__link,
.menu__section__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 0rem;
  cursor: pointer;
  transition: 0.2s all ease;
}
.menu__section__link svg {
  margin-right: 10px;
  padding-bottom: 5px;
  height: 20px;
  width: 20px;
}
.menu__section__link:hover {
  color: #8363e2;
}
.logo__link {
  cursor: pointer;
}
.logo {
  transition: 0.4s all ease;
}
.logo:hover {
  color: #8363e2;
}
.account__section__header {
  width: 100%;
}
.threepoints {
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 5px;
}
.account__section__tally p {
  font-size: 52px;
}
.account__section__campaing {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.account__section__campaing svg {
  margin-right: 10px;
  padding-bottom: 5px;
  height: 20px;
  width: 20px;
}
.right__menu {
  border-left: 1px solid #2e2c2c;
  padding-left: 2rem !important;
}
.account__section__history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchbar {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #2e2c2c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 32px;
}
.searchbar__input {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background-color: transparent;
  border: 0;
  outline: none;
  color: #fff;
}
.dashheader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn {
  background-color: #8363e2 !important;
  border: 0 !important;
  border-radius: 10px !important;
  padding: 20px 30px !important;
}
